@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  box-sizing: border-box;
}
html, body {
height: 100%;
min-height: 100%;
margin: 0;
padding: 0;
}

body {
background: #FFFFFF;
color: #000000;
text-align: center;
font: 16px Roboto;
}

a {
color: #f1f1f1;
text-decoration: none;
}

a:visited {
color: #dcdcdc;
}

a:hover {
color: #48D1CC;
text-decoration: underline;
}

ul {
margin: 0;
padding: 0;
}

li {
list-style: none;
}

/* HEADINGS */
h1, h2 {
font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
margin: 0px;
}

h1 {
font-size: 48px;
line-height: 4.5rem;
}

h2 {
font-size: 32px;
line-height: 4rem;
}

h3 {
font-size: 24px;
line-height: 38px;
font-weight: 300;
}

h4 {
font-size: 20px;
line-height: 30px;
font-weight: 300;
}

h5 {
font-size: 15px;
font-weight: 300;
}

/*Nav Bar*/
.navbar {
    background: #3a3a3c;
    float: none;
    z-index: 9999;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 30px 0 30px;
}

/* The sidepanel menu */



/*Hover Dropdown Store*/
.menu-drop {
  background-color: #4caf5000;
  border: none;
  cursor: pointer;
}
.menu-drop img {
	height:20px;
	cursor: pointer;
}

.menu-dropdown {
  position: relative;
  display: inline-block;
}

.menu-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu-list-link {
	font-size: 24px;
	font-weight: bold;
}
.menu-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu-dropdown-content h3 {
background:black;
}

.middle {
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
transform: translate(10%, -90%);
    color: white;
font-weight: bolder;
font-size: 10px;
}

.menu-dropdown-content a:hover {background-color: #f1f1f1;}
.menu-dropdown:focus-within .menu-dropdown-content {display: block;}
.menu-dropdown:hover .menu-drop img {
  opacity: 0.1;
}

.menu-dropdown:hover .middle {
  opacity: 1;
}

.menu-flex {
	display: flex; 
	flex-direction: row; 
	justify-content: space-between; 
	width: 300px; 
	border: 1px solid #ffffff7d; 
	text-align:center;
	}

.menu-pts span {
font-size: 12px;
background: black;
display: block;
}

.menu {
    display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}


/* Search Animated */
.nav-search {
margin: 0 30px 0 30px;
}
.search-animated {
    height: 25px;
    float: left;
    width: 0px;
	cursor: inherit;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    background-color: white;
    background-image: url(../files/images/icon/search.png);
    background-size: 15px;
    background-position: 7px 3px;
    background-repeat: no-repeat;
    padding: 0px 0px 0px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.2s ease-in-out;
}
.search-animated:hover {
  width: 100%;
}

/* Logo */
.navbar-logo {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar-logo img {
	height: 60px;
	}

.topnav-right {
    float: right;
}
.topnav-right a img {

    height: 20px;
}

/*Hover Dropdown Store*/
.dropbtn {
  background-color: #4caf5000;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn img {
  opacity: 0.1;
}

.dropdown:hover .middle {
  opacity: 1;
}

.flex div {padding: 5px; background: #00000070; color: white;}
.flex img {width: 80px; border: 1px solid #ffffff7d;}
.flex3 {display: flex; flex-direction: row; justify-content: space-between; width: 300px; border: 1px solid #ffffff7d; text-align:center;}
.flex3 div {width: 33%; border: 1px solid #ffffff7d;}
.center-flex {display: flex; justify-content: center; align-items: center;}
.flex3 .rowhai {width: 50%; border: 1px solid #ffffff7d;}
.flex1 {display: flex; flex-direction: row; justify-content: center; width: 300px; border: 1px solid #ffffff7d; text-align:center;}

/*HTML5Box*/
#html5-watermark {
display:none !important;
}

/* Header/logo Title */
.header {
  text-align: center;
  background: white;
  color: white;
}
.bg-header {
    height: 912px;
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Search Container */
.search-container form input {  
height: 40px;
}
.search {
width: 40px;
}

/* Column container */
.container {  
height: 3577px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
display: flex;
flex-wrap: wrap;
justify-content: center;
background-color: #f1f1f1;
padding: 20px;
}

.ABOUT-THE-PHOTOGRAPHER {
	  margin: 0 10px 0 0;
	  text-align: left;
	  width: 500px;
	  height: 480px;
}
.IMG-ABOUT-THE-PHOTOGRAPHER {
	width: 380px;
	height: 480px;
	margin: 20px;
}
.IMG-ABOUT-THE-PHOTOGRAPHER img {
	width: inherit;
}

/* Footer */
.footer {  
background: #3a3a3c;
color: white;
  padding: 30px;
  text-align: center;
  display: flex;  
  flex-flow: row wrap;
}
.footer > * {
  flex: 1 100%;
}
.footer h3 {
	padding: 0 0 15px 0;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .footer-center {flex: 1 0px;}
  .footer-left {order: 1;} 
  .footer-center {order: 2;}
  .footer-right {order: 3;}
  .footer-bottom {order: 4;}
}
/* Footer Left */
.footer-left {
text-align: center;
}

.fl-logo {
position: relative;
top: 50%;
transform: translateY(-60%);
}
/* Footer Center */
.footer-center {  
display: flex;  
flex-flow: row wrap;
}
.footer-center > * {
  flex: 1 100%;
}

.footer-center a {  
padding: 5px;
font-size: 15px;
display: block;
}
.footer-center h3 {  
display: block;
}

@media all and (min-width: 600px) {
  .fc { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .Categories-Center {flex: 1 0px;}
  .Categories-Left {order: 1;} 
  .Categories-Center {order: 2;}
  .Categories-Right {order: 3;}
}

/* Footer Right */
.footer-contact h5 {
padding: 5px 0 5px 0;
}

.footer-bottom {
margin: 10px;
font-size: 12px;
border-top: 1px solid gray;
display: flex;  
flex-flow: row wrap;
}
.footer-bottom p {
margin: 10px auto 5px auto;
}
@media all and (min-width: 600px) {
  .fb { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .fb-center {flex: 1 0px;}
  .footer-social {order: 1;} 
  .fb-center {order: 2;}
  .footer-pay {order: 3;}
}
/* SOCIAL NETWORK */
.footer-social {
margin: 0 auto;
}

.footer-social a img {
height: 30px;
margin: 5px;
}

/* FB CENTER */
.pts {
margin: 10px;
}
.pts a {
margin: 15px;
}
/* PAYMENT METHODS */
.footer-pay {
margin: 0 auto;
}

.footer-pay a img {
height: 30px;
margin: 5px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .container, .navbar {   
    flex-direction: column;
  }












